@import url('https://fonts.googleapis.com/css2?family=Maitree&family=PT+Sans:ital@1&display=swap');

:root{
  --secondary-color: #EBEBEB;
  --primary-color: #363432;
  --accent2-color: #28afb0;
  --accent1-color: #f28f3b;
  --custom-white: #fefefb;
  --heading-font: 'PT Sans', sans-serif;
  --paragraph-font: 'Maitree', serif;

}
body, label, form, input, textarea, button{
  margin:0;
  padding: 0;
  font-family: var(--paragraph-font);
  color: var(--primary-color);
} 
h1, h2, h3, h4, h5, h6{
  margin:0;
  padding: 0;
  font-family: var(--heading-font);
}
#container{
  max-width: 1600px;
  background-color: var(--custom-white);
  margin: 0 auto;
}

/*-----------------Header area--------------------*/
.hero{
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  margin-top: -400px;
}

header{
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  grid-row: 1/2;
  grid-column: 1/10;
  order: 1;
  background-color: 	rgba(235,235,235,0.9);
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 1600px;
  box-shadow: 3px 5px 7px rgba(54,52,50,0.2);
}

.logo_link{
  justify-self: center;
}

.logo{
  margin: 10px;
  width:100px;
}

nav{
  display: flex;
  justify-content: space-around;
}

nav a{
  align-self: center;
  color: var(--primary-color);
  font-size: 1.2em;
  font-weight: bold;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  width: 150px;
}

nav a:hover{
  background-color: rgba(40,175,176,1.0);
}

.hero_image{
  grid-row: 1 /10;
  grid-column: 1/11;
  order: -1;
  width: 100%;
}

.hero_msg{
  grid-row: 5/9;
  grid-column: 3/8;
  align-self: center;
}
.hero_msg h1{
  color: var(--secondary-color);
  font-size: 2.5em;
  margin-top: 100px;
  text-shadow: #222 5px 5px 10px;
}
.hero_msg h2{
  color: var(--secondary-color);
  font-size: 1.5em;
  text-align: right;
  text-shadow: #222 5px 5px 10px;
}
.background{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));

  grid-column: 1/11;
  grid-row: 1/10;
  max-width:100vw;
}
.left_alignment{
text-align: left !important; 
}
.small_margin{
  margin-top: 20px !important;
}
/*----------------------------------------------------*/
/*----------Style for Index page main area------------*/
.main-index{
  width: 98%;
}
section{
  width: 95%;
  display: flex;
  margin: 75px auto;
}
.section-info h1{
  font-size: 1.5em;
  padding: 15px 0 10px 0;
}
.section-info{
  width: 45%;
  font-size: 1.1em;
  padding: 15px;
  margin: 0 auto;
}
.section-media{
  padding: 10px;
  display: flex;
  width: 45%;
}
.section-media > img {
  align-self: center;
}
.max-sizing{
  max-width: 95%;
}
.box{
  border: 2px solid #ccc;
  border-radius: 7px;
}
.box-shadow{
  box-shadow: 5px 7px 10px rgba(54,52,50,0.4);
}
.radius{
  border-radius: 7px;
}
.accent-color1{
  background-color: var(--accent1-color);
}
a:hover{
  border-radius: 7px;
}
/*----------------------------------------------------*/
/*--------------Style for Footer area-----------------*/
footer{
  align-items: center;
  background-color: rgba(235,235,235,0.9);
  display: flex;
  height: 100px;
  justify-content: space-around;
  padding-top: 10px;
}

footer .about >h4{
  font-size: 1.5em;
}

footer .about >p{
  margin-top: 10px;
}

footer .icon{
  width: 36px;
  margin: 5px;
}

footer a{
  text-decoration: none;
}


footer .links > a{
  color: var(--primary-color);
  padding: 20px;
  font-size: 1.1em;
  margin: 0 10px;
}

footer .links > a:hover{
  background-color: var(--accent2-color);
}
/*----------------------------------------------------*/
/*------------style for Web Designing page------------*/
.web-designing{
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 98%;
}

.web-designing .section-info{
  width: 85%;
}
.web-designing .section-media img:hover{
  transform: scale(1.3);
}
/*------------------------------------------------------*/
/*----------------style for Branding page---------------*/
.main-branding h2{
  font-size: 2em;
  text-align: center;
}
.main-branding section h2{
  font-size: 1.7em;
}
.main-branding .section-info{
  width:60%;
}
.main-branding .section-media img{
  width: 400px;
  align-self: center;
}
.main-branding .section-media{
  justify-content: center;
}
.main-branding .section-info{
  width:50%;
  margin: auto 20px;
  font-size: 1.2em;
}
/*--------style for carousel in webdesigning page--------*/
.tools_container{
  height: 200px;
  position: relative;
  width: 500px;
}
.features-box{
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tools_container ul{
  padding: 0;
}
.tools_container li{
  list-style: none;
}
.tool{
  border: 1px solid #bbb;
  border-radius: 8px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  position: absolute;
  top: 20px;
  box-sizing: content-box;
  animation: display ease infinite 8s;
}
.tool img{
  width: 120px;
  grid-column: 1/3;
  grid-row: 1/3;
  align-self: center;
  margin-left: 15px;
  padding: 10px;
}
.tool h2{
  grid-column: 4/8;
  margin-top: 15px;
}
.tool p{
  grid-column: 4/8;
  margin: 15px auto;
}

@keyframes display {
  0% {
    transform: translateX(15px);
    opacity: 0;
  }
  10% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    transform: translateX(0);
    opacity: 1;
  }
  95% {
    transform: translateX(-15px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-15px);
    opacity: 0;
  }
}

@keyframes fade{
  0%{
    opacity: 0%;
  }
  1%{
    opacity: 50%;
  }
  2%{
    opacity: 75%;
  }
  4%{
    opacity: 100%;
  }
  98%{
    opacity: 50%;
  }
  99%{
    opacity: 25%;
  }
}

/*------------------------------------------------------*/
/*----------------style for contactUs page--------------*/
.main-contact{
  height: 100%;
}
#contact-form{
  margin: 100px auto;
  width: 400px;
  padding: 20px;
  border: 1px solid var(--primary-color);
}
#contact-form ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
#contact-form li + li{
  padding-top: 20px;
}
#contact-form label{
  display: inline-block;
  font-size: 1.1em;
  width: 85px;
  text-align: right;
} 
#contact-form input, #contact-form textarea{
  width:300px;
}
#contact-form input:focus, #contact-form textarea:focus{
  border:1px solid black;
}
#contact-form input{
  font-size: 1.1em;
  height: 1.5em;
}
#contact-form textarea{
  font-size: 1.1em;
  height: 6em;
  vertical-align: top;
}
#contact-form .form-button{
  text-align: right;
}
#contact-form .form-button button{
  font-size: 1.1em;
  padding: 5px;
  margin-right: 10px;
}
#submitted{
  border: 1px solid #0a0;
  color: #051;
  display: none;
  margin: 20px auto;
  padding: 5px;
  text-align: center;
  width: 90vw;
}
/*----------------------------------------------------*/
@media screen and (max-width:900px) {
  #container{
    width: 100vw;
  }
  header{
    display: inline-grid;
    grid-template-columns: 150px 1fr;
  }
  header nav{
    flex-direction: column;
  }
  header nav a{
    padding: 10px;
  }
  .logo_link{
    align-self: center;
  }
  .hero{
    margin-top: 0;
  }
  .hero_msg{
    grid-column: 2/9;
    grid-row: 3/9;
  }
  .hero_msg h1, .hero_msg h2{
    color:#fff;
    text-shadow: none;
    margin-top: 15px;
  }
  .web-designing{
    display:block;
  }
  .section-media{
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .web-designing .section-media img:hover{
    transform: scale(1.1);
  }
  .main-branding .section-info{
    width: 90%;  
    margin: auto;
  }
  section{
    flex-direction: column;
  }
  .section-media{
    width: 100%;
  }
  .section-info{
    width: 90%;
  }

  .tools_container{
    width: 95vw;
  }

  .tool{animation: fade ease infinite 8s;}

  #contact-form{
    width: 90vw;
    padding: 15px;
  }
  #contact-form label{
    text-align: left;
    padding-bottom: 7px;
  }
  #contact-form input, #contact-form textarea{
    width: 90vw;
  }
  #contact-form .form-button{
    margin-right: -10px;
  }
  footer{
    display: flex;
    flex-direction: column;
    padding: 20px;
    height: 250px;
    margin-top: 20px;
  }
  footer .about{
    margin: 10px auto;
  }
  footer .about > p{
    padding-top: 0;
    margin-top: 15px;
    font-size: 1.1em;
  }
  footer .links{
    margin: auto 30px;
  }
  footer .links a{
    text-decoration: underline;
  }
  footer .social-media{
    text-align: center;
    margin: 30px auto;
  }
}